{
  "presets": [
    "babel-preset-expo"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        [
          "inline-dotenv",
          {
            "path": "./.env"
          }
        ]
      ]
    },
    "plugins": [
      [
        "inline-dotenv",
        {
          "path": "./.env"
        }
      ]
    ]
  }
}